*{
    transition: 0.3s;
}
body{
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 2px;
    text-align: center;
}
header h1{
    font-variant: small-caps;
    font-size: 6vw;
}
header a{
    color: rgb(168, 0, 168);
    transition:0.6s;
    font-size: 4vw;
}
header a:hover{
    color: rgb(0, 255, 170);
}
header h3{
    font-size: 4vw;
}
main{
    font-size: 4vw;
}
main .text01{
    padding: 8px;
    margin: 30px;
    max-width: 50%;
}
main .text02{
    background-color: rgba(186, 186, 186, 0.267);
    margin: 30px;
    border-radius: 16px;
    display: inline-block;
    max-width: 54%;
    padding: 8px;
}
p{
    margin: 30px;
    padding: 10px;
}
main .fundo01{
    background-image: url(image/um\ lugar\ tranquilo\ para\ reflexão\ sem\ nenhuma\ pessoa.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
main .fundo02{
    background-image: url(image/Noite\ Estrelada\ e\ Céu\ Profundo.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

footer{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 0;
    padding: 1px;
}